
<ion-header>

  <ion-navbar>
    <ion-title>Lista Agendamentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item [class.falha]="!agendamento.enviado" *ngFor="let agendamento of agendamentos">
      {{agendamento.nomeCLiente}} - {{agendamento.modeloCarro}}

      <button ion-button item-end icon-only clear>
        *ngIf="!agendamento.enviado"
        (click)="reenvia(agendamento)">
        <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-item>
  </ion-list>
</ion-content>
